body {
  background-color:#FFF;
  font-family:"Lato", Helvetica, Arial;
  margin:auto;
  max-width:7in;
  font-size:.8em;
  font-weight:400;
}
#address{
  height:4em;
  width:90%;
  margin-left:auto;
}
#address div{
  text-align:center;
  width:30%;
  float:left;
  border-left:1px solid #CCC;
}
#address div#first{
  border-left:none;
}
#address h3{
  border-bottom:none;
  margin-top:0;
}   
.date {
  float:right;
  font-size:1em;
  margin-top:.2em;
  text-align:right;
}
.date-lg {
  float:right;
  font-size:1em;
  margin-top:0.5em;
  text-align:right;
}
.tools {
  margin-top:0.5em;
  padding-left:1.5em;
}
.indent {
  padding-left:1.5em;
}
abbr, acronym{
  border-bottom:1px dotted #333;
  cursor:help;
}   
address{
  font-style:italic;
  color:#333;
  font-size:1em;
}
h1{
  width:100%;
  text-align:center;
  font-size:2em;
  font-family:Helvetica, Verdana, Arial, sans-serif;
}
h2 {
  clear:both;
  font-size:1.5em;
  font-weight:700;
  margin-top:1em;
  margin-bottom:0em;
  font-variant:small-caps;
  padding-left:.25em;
  border-bottom:1px solid #999;
}
h3 {
  margin:0.5em 0 0 0;
  padding-left:0.5em;
}
h4 {
  margin-top:0.2em;
  margin-bottom:0.2em;
  margin-right: auto;
  padding-left: 0.5em;
}
ul {
  list-style:none;
  padding-left:2em;
  margin-top:0.2em;
  margin-bottom:0.5em;
  max-width:6in;
}
ul li ul {
  list-style:none;
  padding-left:1em;
  margin-top:0.1em;
  margin-bottom:0.1em;
  max-width:6in;
}
ul li {
  padding-left: 12px;
  text-indent: -12px;
}
ul li:before {
  content:"- ";
  padding-top:0.2em;
  padding-bottom:0.5em;
}
img {
  display:block;
  margin:auto;
  margin-bottom:0.5in;
  max-width:1in;
}

@media print {
  body {
    background-color:#FFF;
    border-width:0 0 0 0;
    margin:0;
    width:100%;
    max-width:7in;
    padding-left:0.75in;
    padding-right:0.75in;
    padding-top:0.5in;
  }  
}
